<style type="text/css">
#banner {
	background-color: #D8F1D3;
	height: 92.5vh;
	text-align: center;
	padding-top: 15%
}


</style>

<div class="container-fluid" id="banner">	
    <h1>Lend Me</h1>
    <p>Raising Money for Charities or Lending Money to those in need</p>
    <p>Try being a lender with nhan@gmail.com and password:nhan</p>
    <p>Or being a charity with john@gmail.com and password:john</p>
</div>